.Header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(59,134,36);

}

.Header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    width: 100%;
    list-style: none;

}

.Header ul li a {
    font-size: 2rem;
    text-decoration: none;
    color: #fbfdfe;

}

.logo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 1rem
}

.logo figcaption {
    font-size: 1rem;
}