* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}
.App {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 
    "header header header" 15%
    "main main main" auto
    ;
}



main {
    grid-area: main;
    background-color: rgb(255, 255, 255);
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 2rem;
    justify-content: center;
    
}