* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}
.App {
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    display: grid;
    position: relative;
    grid-template: 
    "header header header" 10%
    "main main main" 80%
    "footer footer footer" auto
    ;
}

.footer {
    grid-area: footer;
    background-color: rgb(59,134,36);

}

.footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0rem 3rem 0rem 3rem;
}

.footer ul li {
    list-style: none;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
}


main {
    grid-area: main;
    background-color: rgb(255, 255, 255);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    justify-content: flex-start;
    
}

.section-commoditie {
    display: flex;
    background-color: rgb(59,134,36);
    margin-top: 5rem;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
};

